* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    position: absolute;
    width: 240px;
    height: 320px;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
    cursor: pointer;
    transition: 0.5s;
    transform-origin: 50% 100%;
}

.container .card img {
    width: 100%;
    height: 100%;
}

.container:hover .card {
    transform: rotate(calc(var(--i)*5deg))translate(calc(var(--i)*50px), -40px);
}

.container .card:active {
    translate: calc(var(--i)*20px)-50px;
}